In [58]:
import pandas as pd
db = pd.read_csv("Natural_Environment_Conditions_2010.csv", sep=",")

avg_num_trees = db["# Street Trees"].mean()
avg_num_parkSpace = db["Park Space (acres/1000 pers.)"].mean()


mask = (db["# Street Trees"] > avg_num_trees  ) & (db["Park Space (acres/1000 pers.)"] > avg_num_parkSpace - 20 )
maskedDB = db[mask] 

top30_env = maskedDB[["Neighborhood", "# Street Trees", "Park Space (acres/1000 pers.)" ]].sort_values("# Street Trees", ascending = False)
top30_env

                 Neighborhood  # Street Trees  Park Space (acres/1000 pers.)
76        Squirrel Hill South            2263                      45.306618
75        Squirrel Hill North            1846                       2.309601
67                  Shadyside            1601                       1.225656
71           South Side Flats            1337                       3.178111
62               Point Breeze            1092                      10.307432
9                  Bloomfield            1035                       0.562544
39              Highland Park            1012                      54.844722
13                  Brookline             813                       4.604359
78            Stanton Heights             730                       3.027385
12           Brighton Heights             729                       4.587415
52           Mount Washington             724                      12.664735
28               East Liberty             703                       3.204294
16  Central Business District             694                       8.048774
55              North Oakland             635                       1.379395
48                 Manchester             610                       3.309390
15                    Carrick             595                       3.656877
18          Central Northside             559                       0.299692
36                 Greenfield             540                       1.315191
7                   Beechview             512                       2.504389
5                  Banksville             506                       4.115347
38                  Hazelwood             491                       5.668751
43                  Knoxville             464                       0.013611
63         Point Breeze North             442                       5.856378
23           Crawford-Roberts             417                       2.357270
60                Perry North             402                      63.860741
56                North Shore             400                      35.412541
27                 East Hills             379                       4.249606
17      Central Lawrenceville             377                       1.344935
68                   Sheraden             365                      11.319117

In [52]:
pub = pd.read_csv("Public_safety.csv", sep=",")


pub["Combined Crime Score"] = pub["Part 1 Crime per 100 Persons (2010)"]*2 + pub["Part 2 Crime per 100 Persons (2010)"]

top30_pub = pub[["Neighborhood" , "Part 1 Crime per 100 Persons (2010)","Part 2 Crime per 100 Persons (2010)", "Combined Crime Score" ]].sort_values("Combined Crime Score", ascending = True).head(30)
top30_pub

,Neighborhood,Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),Combined Crime Score
31,Fairywood,0.299401,0.598802,1.197605
54,New Homestead,0.707071,0.404040,1.818182
75,Squirrel Hill North,1.302473,0.968054,3.573000
45,Lincoln Place,0.991633,1.952278,3.935544
58,Oakwood,1.363194,1.363194,4.089581
80,Summer Hill,1.236917,2.093245,4.567079
55,North Oakland,1.724955,1.288977,4.738887
78,Stanton Heights,1.456205,1.912628,4.825038
5,Banksville,1.496139,1.954633,4.946911
26,East Carnegie,1.578947,1.929825,5.087719
81,Swisshelm Park,2.057311,1.028655,5.143277
88,Westwood,1.859100,1.728637,5.446836
62,Point Breeze,2.182502,1.354657,5.719661
76,Squirrel Hill South,2.190602,1.389808,5.771013
10,Bluff,1.590909,2.893939,6.075758
36,Greenfield,1.987935,2.330683,6.306553
24,Duquesne Heights,2.268041,1.814433,6.350515
59,Overbrook,2.003293,2.524698,6.531284
13,Brookline,1.823823,2.966551,6.614197
51,Morningside,2.002391,2.719665,6.724447
35,Glen Hazel,1.396648,4.608939,7.402235
20,Chartiers City,1.886792,4.192872,7.966457
84,Upper Hill,2.187652,3.840544,8.215848
39,Highland Park,2.845973,2.580141,8.272088
64,Polish Hill,2.668760,3.061224,8.398744
22,Crafton Heights,2.333508,3.932879,8.599895
7,Beechview,2.420366,3.799850,8.640582
87,West Oakland,3.149002,2.496160,8.794163
66,Ridgemont,2.898551,3.105590,8.902692
89,Windgap,2.994887,2.921841,8.911614

In [40]:
# Education-Income
chip = pd.read_csv("education-income.csv")
#chip.head(10)

In [41]:
# Rename columns
chip.columns = chip.columns.str.replace("'"," ")
chip['Edu. Attainment: Bachelor s Degree (2010)'] = chip['Edu. Attainment: Bachelor s Degree (2010)'].str.replace('%', '')
chip["Edu. Attainment: Postgraduate Degree (2010)"] = chip['Edu. Attainment: Postgraduate Degree (2010)'].str.replace('%', '')
chip['2009 Med. Income ( 13 Dollars)'] = chip['2009 Med. Income ( 13 Dollars)'].str.replace('$','')
chip['2009 Med. Income ( 13 Dollars)'] = chip['2009 Med. Income ( 13 Dollars)'].str.replace(',','')
chip['Est. Percent Under Poverty (2010)'] = chip['Est. Percent Under Poverty (2010)'].str.replace('%','')
chip = chip[['Neighborhood','Edu. Attainment: Bachelor s Degree (2010)','Edu. Attainment: Postgraduate Degree (2010)','2009 Med. Income ( 13 Dollars)','Est. Percent Under Poverty (2010)']]
#chip.head(10)

In [42]:
# Combine Bachelor's and Post Graduate Degree for a total of 30 rows
sum_edu= chip['Edu. Attainment: Postgraduate Degree (2010)'].astype(float) + chip['Edu. Attainment: Bachelor s Degree (2010)'].astype(float)
sorted_sum = sum_edu.sort_values(ascending = False)
sort = pd.DataFrame(sorted_sum)
count = 0
d = list()
for index,row in sort.iterrows():
    if count < 30:
        d.append(chip.iloc[index])
        count+=1
    else: break
sorted_edu = pd.DataFrame(d)
#sorted_edu

In [43]:
# sorted by most income and least poverty separately
chip['2009 Med. Income ( 13 Dollars)'] = chip['2009 Med. Income ( 13 Dollars)'].astype(int)
sorted_income = chip.sort_values(by = '2009 Med. Income ( 13 Dollars)',ascending = False)
#sorted_income.head(10)
chip['Est. Percent Under Poverty (2010)'] = chip['Est. Percent Under Poverty (2010)'].astype(float)
sorted_poverty = chip.sort_values(by = 'Est. Percent Under Poverty (2010)')
#sorted_poverty.head(10)

In [36]:
# took top 30 for income, poverty
top30_income = sorted_income.head(30)
bot30_poverty = sorted_poverty.head(30)
bot30_poverty = bot30_poverty[['Neighborhood']]
top30_income = top30_income[['Neighborhood']]
#bot30_poverty

In [63]:
# found common neighborhoods with most income, highest education, and least poverty
top_eduIncome = sorted_edu.merge(bot30_poverty, on='Neighborhood').merge(top30_income, on="Neighborhood")
top_eduIncome

,Neighborhood,Edu. Attainment: Bachelor s Degree (2010),Edu. Attainment: Postgraduate Degree (2010),2009 Med. Income ( 13 Dollars),Est. Percent Under Poverty (2010)
0,Squirrel Hill North,26.70,40.10,91409,8.80
1,Regent Square,21.00,44.00,84635,1.10
2,Squirrel Hill South,27.40,32.00,59376,11.70
3,Point Breeze,25.90,32.50,95704,4.60
4,Highland Park,23.90,31.80,66985,9.20
5,Allegheny West,44.80,10.50,45519,5.00
6,Strip District,33.40,18.50,70706,2.10
7,South Shore,0.00,47.60,163773,0.00
8,Greenfield,22.30,17.30,47502,9.20
9,Swisshelm Park,26.20,11.80,79025,2.10
10,Stanton Heights,21.90,13.50,53354,4.20
11,Duquesne Heights,22.00,13.30,48134,14.30
12,North Shore,5.60,28.60,90089,0.00
13,Morningside,21.50,8.10,45224,5.20
14,Banksville,22.30,6.60,55181,5.80
15,Westwood,13.20,14.70,54366,5.80
16,West End,26.70,0.00,44963,0.00

In [65]:
# top common neighborhoods in all three subcategories
top_eduIncome.merge(top30_pub, on = "Neighborhood").merge(top30_env, on = "Neighborhood")

,Neighborhood,Edu. Attainment: Bachelor s Degree (2010),Edu. Attainment: Postgraduate Degree (2010),2009 Med. Income ( 13 Dollars),Est. Percent Under Poverty (2010),Part 1 Crime per 100 Persons (2010),Part 2 Crime per 100 Persons (2010),Combined Crime Score,# Street Trees,Park Space (acres/1000 pers.)
0,Squirrel Hill North,26.70,40.10,91409,8.80,1.302473,0.968054,3.573000,1846,2.309601
1,Squirrel Hill South,27.40,32.00,59376,11.70,2.190602,1.389808,5.771013,2263,45.306618
2,Point Breeze,25.90,32.50,95704,4.60,2.182502,1.354657,5.719661,1092,10.307432
3,Highland Park,23.90,31.80,66985,9.20,2.845973,2.580141,8.272088,1012,54.844722
4,Greenfield,22.30,17.30,47502,9.20,1.987935,2.330683,6.306553,540,1.315191
5,Stanton Heights,21.90,13.50,53354,4.20,1.456205,1.912628,4.825038,730,3.027385
6,Banksville,22.30,6.60,55181,5.80,1.496139,1.954633,4.946911,506,4.115347